<div class ="col-md-12">
	<div class="col-md-4 col-md-offset-4">
	  <%= image_tag 'placeholder.jpg', id: 'image-preview', class: 'img-responsive-custom' %>
		<%= simple_form_for  @post , html: { multipart: true }  do  | f |  %>
		       <div class="col-md-12 text-center">
                          <%= f.error_notification %>
                    </div>
		     <div class ="form-group">
		     <h5>Upload an image (this is required):</h5>
		         <%= f.input :image, label: false, input_html: { onChange: 'loadFile(event)' } %>
		     </div>
		   <div class="form-group">
		    <%=  f.text_area :caption, :class => 'form-control', :placeholder => "Caption" %>
		    </div>
		    <%= submit_tag("Publish",  :class=>"btn btn-success form-control", :name=>"submit") %>
		<% end %>
       </div>
</div>
	

